name: CI

on: push

jobs:
  ci:
    runs-on: ubuntu-latest

    # https://github.com/glassechidna/ghaoidc/issues/1
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout [${{ github.repository }}]
        uses: actions/checkout@v3
     
      - name: Verify environment variables 2
        run: |
          echo  "URL: $ACTIONS_ID_TOKEN_REQUEST_URL"
          # This one is not displayed as it is protected...
          echo "TOKEN: $ACTIONS_IT_TOKEN_REQUEST_TOKEN"
          
      - name: Mint token
        id: mint
        uses: ./
        with:
          # audience: pypi
          request-url: $ACTIONS_ID_TOKEN_REQUEST_URL
          request-token: $ACTIONS_ID_TOKEN_REQUEST_TOKEN

      - name: Check
        run: echo '${{ steps.mint.outputs.api-token }}'
